@{
    ViewBag.Title = "姗姗姐小助手";
}

@section ForMenuLoad{
    @Styles.Render("~/assets/css/menu")
    @Scripts.Render("~/assets/js/menu")

    <div class="content">
        @*<div class="dl-main-nav">
                <div class="dl-inform"><div class="dl-inform-title">贴心小秘书<s class="dl-inform-icon dl-up"></s></div></div>
                <ul id="J_Nav" class="nav-list ks-clear">
                    <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">首页</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-order">表单页</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-inventory">搜索页</div></li>
                    <li class="nav-item"><div class="nav-item-inner nav-supplier">详情页</div></li>
                </ul>
            </div>*@
        <ul id="J_NavContent" class="dl-tab-conten"></ul>
    </div>

    <script>
        //声明一个是否 可以相同的页面多次tab添加 全局的开关
        switchAddTabForMultiSamePage = false;

        BUI.use('common/main', function () {
            var config = [{
                id: 'menu',
                homePage: 'sendEmail',
                menu:@Html.Raw(ViewBag.MenuInfo)

                //menu: [
                //    {
                //        text: '首页内容',
                //        items: [
                //            { id: 'code', text: '首页代码', href: 'main/code.html' },
                //            { id: 'main-menu', text: '顶部导航', href: 'main/menu.html' },
                //            { id: 'second-menu', text: '右边菜单', href: 'main/second-menu.html' },
                //            { id: 'dyna-menu', text: '动态菜单', href: 'main/dyna-menu.html' }
                //        ]
                //    }

                //]
            }];

            new PageUtil.MainPage({
                modulesConfig: config
            });
        });
    </script>


}

