
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recruit</title>
</head>
<body>
    <h2>招聘计划,需要详细需求才好开发 加快效率的 小东东</h2>
</body>
</html>
